.photoMagic {

    position: relative;

    &__photo {
       width: 65%;
       position: absolute;
       z-index: 10;
       transition: all .2s;
       outline-offset: 2rem;
       @include respond(tab-land) {
           width: 45%;
       }

        &--1 {
            left: 22rem;
            top: -12rem;
        }

        &--2 {
            left: 11rem;
            top: -6rem;
        }

        &--3 {
            left: 0;
            top: 0;
        }

        &:hover {
            outline: 2rem solid $color-primary-green;
            transform: scale(1.06);
            z-index: 20;
        }

   }

}