/*
(desktop first)
0-600px:    phone

600-900:    tablet portrait

900-1200:    tablet landscape

1200-1800:   normal styles apply   

1800+:      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER:
1-base+typography
2-general layout+grid
3-more specific page layouts+components

1em = 16px
*/
@keyframes moveInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1.5rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(-5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 1.5rem; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 0; } }

/*
FONTS:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Signika Negative', sans-serif;
font-family: 'Baloo Chettan 2', cursive;
*/
body {
  font-family: 'Signika Negative', sans-serif; }

.heading--main {
  text-transform: lowercase;
  letter-spacing: .3rem;
  font-size: 6rem; }
  @media only screen and (max-width: 25em) {
    .heading--main {
      font-size: 5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  color: #44bd32;
  text-transform: uppercase; }

.heading-secondary-white {
  font-size: 2.5rem;
  color: #eee;
  text-transform: uppercase;
  text-align: center; }

.heading-secondary-big {
  font-size: 4.5rem;
  color: #44bd32;
  text-transform: uppercase; }

.heading-secondary-big-white {
  font-size: 3.5rem;
  color: #eee;
  text-transform: uppercase;
  text-align: center; }

.heading-tertiary {
  font-size: 2rem;
  color: #44bd32;
  text-transform: uppercase; }

.paragraph-copy {
  font-size: 2rem;
  color: #e67e22; }

.paragraph-copy-small {
  font-size: 1rem;
  color: #e67e22; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-tiny {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-huge {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block; }

.btn--header {
  display: inline-block;
  position: absolute;
  top: 12%;
  right: 5.5%;
  font-size: 2.25rem;
  font-weight: 700;
  color: #eee;
  border: 4px solid #eee;
  border-radius: 10rem;
  padding: 1rem;
  background-color: transparent;
  animation: moveInBottom 1s ease-out 2.35s;
  animation-fill-mode: backwards;
  backface-visibility: hidden; }
  .btn--header:hover {
    color: #eee;
    background-color: #44bd32;
    transform: scale(1.25);
    transition: all .3s;
    border: none; }
  .btn--header:active {
    transform: translateY(0.5rem) scale(1.25); }

.btn--white {
  background-color: #eee;
  color: black;
  border-radius: 10rem;
  padding: 1rem;
  transition: all .3s; }
  .btn--white:hover {
    transform: scale(1.25); }
  .btn--white:active {
    transform: translateY(0.5rem) scale(1.25); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 57rem; }
  @media only screen and (max-width: 56.25em) {
    .card {
      margin-bottom: 35rem; } }
  .card__side {
    color: #eee;
    font-size: 2rem;
    height: 57rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 56.25em) {
      .card__side {
        height: 90rem; } }
    .card__side--front {
      background-color: #eee; }
    .card__side--back {
      background-image: linear-gradient(to right bottom, #44bd32, #e67e22);
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 33rem;
    background-blend-mode: overlay; }
    @media only screen and (max-width: 56.25em) {
      .card__picture {
        height: 70rem; } }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #44bd32, #e67e22), url(../../assets/images/IMG_6618.JPG); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #44bd32, #e67e22), url(../../assets/images/IMG_6414.JPG); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #44bd32, #e67e22), url(../../assets/images/IMG_7166.JPG); }
  .card__heading {
    padding: 2rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__pricebox {
    text-align: center; }
  .card__price {
    text-transform: lowercase; }
  .card__amount {
    font-size: 10rem;
    font-weight: 600; }

.photoMagic {
  position: relative; }
  .photoMagic__photo {
    width: 65%;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 75em) {
      .photoMagic__photo {
        width: 45%; } }
    @media only screen and (max-width: 25em) {
      .photoMagic__photo {
        width: 45%; } }
    .photoMagic__photo--1 {
      left: 22rem;
      top: -12rem; }
      @media only screen and (max-width: 56.25em) {
        .photoMagic__photo--1 {
          left: 0;
          top: 0; } }
      @media only screen and (max-width: 25em) {
        .photoMagic__photo--1 {
          left: 0;
          top: 0; } }
    .photoMagic__photo--2 {
      left: 11rem;
      top: -6rem; }
      @media only screen and (max-width: 56.25em) {
        .photoMagic__photo--2 {
          left: 18rem;
          top: 0rem; } }
      @media only screen and (max-width: 25em) {
        .photoMagic__photo--2 {
          left: 9rem;
          top: 0rem; } }
    .photoMagic__photo--3 {
      left: 0;
      top: 0; }
      @media only screen and (max-width: 56.25em) {
        .photoMagic__photo--3 {
          left: 36rem;
          top: 0; } }
      @media only screen and (max-width: 25em) {
        .photoMagic__photo--3 {
          left: 18rem;
          top: 0; } }
    .photoMagic__photo:hover {
      outline: 2rem solid #44bd32;
      transform: scale(1.06);
      z-index: 20; }

.feature-box {
  background-color: rgba(238, 238, 238, 0.8);
  margin: 3rem;
  padding: 2.5rem;
  text-align: center;
  transition: all .3s; }
  .feature-box__icon {
    font-size: 7.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #44bd32, #e67e22);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.footer {
  background-image: linear-gradient(to right, #44bd32, #e67e22);
  padding-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding-bottom: 1rem; } }
  @media only screen and (max-width: 25em) {
    .footer {
      padding-bottom: 0; } }
  .footer__header {
    border-bottom: 0.2rem solid #eee;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 25em) {
      .footer__header {
        padding-bottom: 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 25em) {
      .footer__logo-box {
        margin-bottom: 0; } }
  .footer__logo {
    width: 20%; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    transform: rotate(-3deg) scale(1.5); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 70rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    padding: 2rem;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }

.header {
  height: 95vh;
  background-image: url(../images/main-hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  @media only screen and (max-width: 25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4%;
    left: 1%;
    animation: moveInRight 2s ease .5s;
    animation-fill-mode: backwards;
    backface-visibility: hidden; }
  .header__logo {
    height: 18rem; }
  .header__headings-box {
    position: absolute;
    top: 65%;
    left: 47.5%;
    color: #eee;
    animation: moveInRight 2s ease .5s;
    animation-fill-mode: backwards;
    backface-visibility: hidden; }

.heading {
  display: block; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  cursor: pointer;
  background-color: #369228;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
  transition: all .3s; }
  .navigation__button:hover {
    transform: scale(1.25); }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#e67e22, #e67e22);
  z-index: 1000;
  transition: all .3s; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  left: 35%;
  list-style: none;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .navigation__list {
      left: 30%; } }
  @media only screen and (max-width: 25em) {
    .navigation__list {
      left: 22%; } }

.navigation__item {
  margin: 2rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 2.5rem;
  font-weight: 300;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s; }

.navigation__link:hover {
  transform: translateY(-1rem) scale(1.25); }

.navigation__link:active {
  transform: translateY(0.25rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(12); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  margin-left: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: black;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.aboutUs {
  background-color: #ececec;
  padding: 35rem 0;
  margin-top: -20vh;
  margin-bottom: 13rem; }

.features {
  padding: 20rem, 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/IMG_6647.JPG);
  background-size: cover;
  margin-top: -10rem; }

.services {
  background-color: #ececec;
  padding: 15rem 0 15rem 0;
  margin-top: 3rem; }
