/*
COLORS:
#e67e22 - orange
#44bd32 - green

CLIP-PATHS:
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);

FONTS:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Signika Negative', sans-serif;
font-family: 'Baloo Chettan 2', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Signika Negative', sans-serif;
}

.header {
    height: 75vh;
    background-image:  url(../assets/images/IMG_6525.JPG);
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    height: 18rem;
    position: absolute;
    margin: 1%;
    top: 0;
    left: 0;
}

.headings-box {
    position: absolute;
    top: 70%;
    left: 40.5%;
    color: rgb(255, 255, 255);
}

.main-heading {
    display: block;
    text-transform: lowercase;
    letter-spacing: .3rem;
    font-size: 7rem;
}

.sub-heading {
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
}