.aboutUs {
    background-color: $color-gray-light;
    padding: 35rem 0;
    margin-top: -20vh;
    margin-bottom: 13rem;
    @include respond(phone) {
        margin-top: .15rem;
        padding-bottom: 5rem;
        padding-top: 15rem;
     }
}

.features {
    padding: 20rem, 0;
    background-image: linear-gradient(to right bottom, rgba($color-black, .7), rgba($color-black, .7)), url(../../assets/images/IMG_6647.JPG);
    background-size: cover;
    margin-top: -10rem;
}

.services {
    background-color: $color-gray-light;
    padding: 15rem 0 15rem 0;
    margin-top: 3rem;
}