.footer {
    background-image: linear-gradient(to right, $color-primary-green, $color-primary-orange);
    padding-bottom: 5rem;
    @include respond(tab-port) {
        padding-bottom: 1rem;
    }

    @include respond(phone) {
        padding-bottom: 0;
    }

    &__header {
        border-bottom: .2rem solid $color-white;
        padding-bottom: 1rem;
        @include respond(phone) {
            padding-bottom: 0;
        }
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 5rem;
        @include respond(tab-port) {
            margin-bottom: 2rem;
        }
        @include respond(phone) {
            margin-bottom: 0;
        }
    }

    &__logo {
        width: 20%;
    }

    &__link {
        &:link,
        &:visited {
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        transition: all .2s;
    }

        &:hover,
        &:active {
        transform: rotate(-3deg) scale(1.5);
    }
    }
}