.header {
    height: 95vh;
    background-image: url(../images/main-hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

    &__logo-box {
        position: absolute;
        top: 4%;
        left: 1%;
        animation: moveInRight 2s ease .5s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;
    }

    &__logo {
        height: 18rem;
    }

    &__headings-box {
        position: absolute;
        top: 65%;
        left: 47.5%;
        color: $color-white;
        animation: moveInRight 2s ease .5s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;
    }
}

.heading {
    display: block;
}